<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homePage') }}">Polar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homePage') }}">Page Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Liste</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('list_agent') }}">Tous les agents</a>
                        <a class="dropdown-item" href="{{ path('list_contact') }}">Tous les contacts</a>
                        <a class="dropdown-item" href="{{ path('list_target') }}">Toutes les cibles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('list_contact') }}">Tous les pays</a>
                        <a class="dropdown-item" href="{{ path('list_target') }}">Toutes les nationnalité</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pays & Nationnalité/Planque</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('create_country') }}">Crée un pays</a>
                            <a class="dropdown-item" href="{{ path('create_nationality') }}">Crée une nationnalité</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('create_hidingPlace') }}">Crée une planque</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agent/Contact/Cible</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('create_speciality') }}">Crée une spécialité</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('create_agent') }}">Crée un agent</a>
                            <a class="dropdown-item" href="{{ path('create_contact') }}">Crée un contact</a>
                            <a class="dropdown-item" href="{{ path('create_contact') }}">Crée une cible</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create_mission') }}">Crée une mission</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>